venv/
.idea/
.vscode/
logs/
config
config.json
src/snake/test.py
static/snake/pfp
static/snake/js/min
static/snake/min.css
static/snake/game_thumbnails
static/snake/email.txt
static/snake/js/test.js
templates/snake/test.html