<!DOCTYPE html>
<html lang="nl">
<head>
    <title>LarsVlaar | Wachtwoord Wijzigen</title>

    <link rel="stylesheet" href="/styles">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div id="popup-messages">
            <div id="friend-request-popup"></div>
            <div id="received-invite-popup"><div class="invites-container"></div></div>
            <div id="sent-invite-popup"><div class="invites-container"></div></div>
            <div id="general-popups"></div>
        </div>
        
        <form class="form" id="change-password-form">
            <span class="form-title">Wachtwoord wijzigen</span>

            <div class="input password-input">
                <label for="password-input"><b>Wachtwoord</b></label>
                <input id="password-input" type="password" placeholder="Wachtwoord" name="password" required>

                <div id="password-error" class="cat-error">
                    <span></span>
                </div>

                <div id="password-requirements">
                    <span class="not-fulfilled">Wachtwoord moet minstens 8 karakters lang zijn<br></span>
                    <span class="not-fulfilled">Wachtwoord moet minstens 1 hoofdletter bevatten<br></span>
                    <span class="not-fulfilled">Wachtwoord moet minstens 1 kleine letter bevatten<br></span>
                    <span class="not-fulfilled">Wachtwoord moet minstens 1 getal bevatten<br></span>
                    <span class="not-fulfilled">Wachtwoord moet minstens 1 speciaal karakter<br></span>
                </div>
            </div>

            <div class="input confirm-password-input">
                <label for="confirm-password-input"><b>Bevestig wachtwoord</b></label>
                <input id="confirm-password-input" type="password" placeholder="Bevestig wachtwoord" name="password" required>
                <div id="password-dont-match" class="cat-error">
                    <span>Wachtwoorden zijn niet hetzelfde</span>
                </div>
            </div>

            <button type="submit">
                <i style="display: none;" class="fa fa-circle-o-notch fa-spin"></i> Wijzig Wachtwoord
            </button>
        </form>
    </div>
</body>
</html>

<script src="/js/main.js"></script>
<script src="/js/change_password.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', checkFlashMessages({{ get_flashed_messages(with_categories=True) | tojson }}));
</script>