<!DOCTYPE html>
<html lang="nl">
<head>
    <title>LarsVlaar | Games</title>
    <meta name="description" content="Lars Vlaar - Games">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <div class="container games">
        <div id="popup-messages"></div>

        <div class="profile-dropdown">
            <div class="profile-card" onclick="toggleDropdown()">
                <div class="pfp"><img src="/pfp/{{ user_id }}"></div>
                <div class="username">{{ username }}</div>
            </div>
            <div class="dropdown-content" id="profile-dropdown">
                <a href="/games">Games</a>
                <a href="/settings">Instellingen</a>
                <a href="/logout">Uitloggen</a>
            </div>
        </div>

        <div class="card">
            <h1>Games</h1>
            <div class="games-container">
                <!-- Todo: Change class name -->
                <div class="games-container-wrapper"></div>

<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                    <span class="game-duration">Duurde: 1 minuut</span>-->
<!--                    <span class="winner">Winnaar: Dev Flame</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
<!--                <div class="game-card">-->
<!--                    <h2>Game titel</h2>-->
<!--                    <img src="/games/{{ game_id }}">-->
<!--                    &lt;!&ndash; Todo: Make username a link to user profile &ndash;&gt;-->
<!--                    <span class="opponent">Tegenstander: <span class="opponent-name">Dev Flame</span></span>-->
<!--                    <span class="score">score: <span class="score-value">15</span></span>-->
<!--                    <span class="game-end-time">1 minuut geleden</span>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/main.js"></script>
<script src="/js/games.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', checkFlashMessages({{ get_flashed_messages(with_categories=True) | tojson }}))
</script>