<!DOCTYPE html>
<html lang="nl">
<head>
    <title>LarsVlaar | Snake</title>
    <meta name="description" content="Lars Vlaar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles" media="all">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <div class="container lobby">
        <div id="popup-messages">
            <div id="friend-request-popup"></div>
            <div id="received-invite-popup"><div class="invites-container"></div></div>
            <div id="sent-invite-popup"><div class="invites-container"></div></div>
            <div id="general-popups"></div>
        </div>

        <div class="profile-dropdown" onclick="toggleDropdown(event)">
            <div class="profile-card">
                <div class="pfp"><img src="/api/users/{{ user_id }}/pfp?v={{ pfp_version }}"></div>
                <div class="username">{{ username }}</div>
            </div>
            <div class="dropdown-content" id="profile-dropdown">
                <a href="/snake">Home</a>
                <a href="/friends">Vrienden</a>
                <a href="/games_history/{{ user_id }}">Games</a>
                <a href="/settings">Instellingen</a>
                <a onclick="logout()">Uitloggen</a>
                {% if is_admin %}
                <a href="/admin/sessions">Sessies</a>
                <a href="/admin/kritiek">Kritiek</a>
                {% endif %}
            </div>
        </div>

        <div id="preview-popup" class="popup">
            <div class="popup-background" onclick="closePreviewPopup()"></div>
            <div class="card" onclick="event.stopImmediatePropagation();">
                <div class="snake-board"></div>
            </div>
        </div>

        <div class="page-content container">
            <div class="chat">
                <div id="messages-container"></div>
                <input id="chat-input" type="text" placeholder="If it's black, attack!">

                <div id="scroll-down">
                    <button onclick="chatScrollDown()"><img src="/icon/arrow_drop_down.svg"></button>
                </div>
            </div>

            <div class="card">
                <div class="player-management">
                    <div class="join-token">
                        <span>Join Token: <input id="join-token" type="password" value="{{ join_token }}" size="6" disabled></span>

                        <div class="visibility" onclick="toggleVisibility()">
                            <img src="/icon/visibility_off.svg">
                        </div>
                    </div>
                    <div class="place-holder"></div>
                    <div class="joined-players">
                        <h3>Spelers</h3>

                        <div class="user-list"></div>
                    </div>
                </div>

                <div class="game-customization">
                    <form id="create-game-form" class="form" onkeydown="if(event.keyCode === 13) event.preventDefault()">
                        <span class="form-title">Maak Custom Game</span>

                        <div class="board-size">
                            <div class="input">
                                <label for="cols-input"><b>Aantal Kolommen</b></label>
                                <input id="cols-input" type="text" placeholder="Kolommen" name="cols" inputmode="numeric" value=15 disabled>
                                <div id="cols-error" class="cat-error">
                                    <span></span>
                                </div>
                            </div>

                            <div class="input">
                                <label for="rows-input"><b>Aantal Rijen</b></label>
                                <input id="rows-input" type="text" placeholder="Rijen" name="rows" inputmode="numeric" value=15 disabled>
                                <div id="rows-error" class="cat-error">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="input update-interval">
                            <label for="update-interval-input">Game Update Interval</label>
                            <input id="update-interval-input" type="range" step="0.001" min="0.100" max="1" value="0.300" placeholder="Custom Game Id" name="update-interval-id" disabled>
                            <div id="update-interval-error" class="cat-error">
                                <span></span>
                            </div>
                        </div>

                        <div class="input spawn-len">
                            <label for="spawn-len-input">Snake Spawn Lengte</label>
                            <input id="spawn-len-input" type="text" placeholder="Lengte" name="spawn-len" inputmode="numeric" value=4 disabled>
                            <div id="spawn-len-error" class="cat-error">
                                <span></span>
                            </div>
                        </div>

                        <div class="food">
                            <div class="input snake-grow">
                                <label for="snake-grow-input">Score per Eten</label>
                                <input id="snake-grow-input" type="text" placeholder="Lengte" name="snake-grow" inputmode="numeric" value=1 disabled>
                                <div id="snake-grow-error" class="cat-error">
                                    <span></span>
                                </div>
                            </div>

                            <div class="input food-amount">
                                <label for="food-amount-input">Hoeveelheid Eten</label>
                                <input id="food-amount-input" type="text" placeholder="Hoeveelheid Eten" name="food-amount" inputmode="numeric" value=1 disabled>
                                <div id="food-amount-error" class="cat-error">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="start-preview">
                            <button type="button" onclick="openPreviewPopup()">Game Preview</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/main.js"></script>
<script src="/js/notifications.js"></script>
<script src="/js/lobby.js"></script>
<script src="/js/chat.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', checkFlashMessages({{ get_flashed_messages(with_categories=True) | tojson }}))

    const invites = {{ invites | tojson }}
    const serverTime = invites["server_time"];

    console.log(invites["invites"]["sent"])
    for (const invite of invites["invites"]["sent"]) {
        createSentInvitePopup(invite["invite_id"], invite["to_user_id"], invite["to_username"], invite["to_pfp_version"], invite["created_at"], serverTime);
    }

    for (const invite of invites["invites"]["received"]) {
        createReceivedInvitePopup(invite["invite_id"], invite["from_user_id"], invite["from_username"], invite["from_pfp_version"], invite["lobby_id"], invite["game_mode"], invite["created_at"], serverTime);
    }
</script>