<!DOCTYPE html>
<html lang="nl">
<head>
    <title>LarsVlaar | Wijzig Wachtwoord</title>

    <link rel="stylesheet" href="/styles">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container request-password-change">
        <div id="popup-messages">
            <div id="friend-request-popup"></div>
            <div id="received-invite-popup"><div class="invites-container"></div></div>
            <div id="sent-invite-popup"><div class="invites-container"></div></div>
            <div id="general-popups"></div>
        </div>
        
        <form class="form" id="request-password-change-form">    
            <span class="form-title">Wachtwoord wijzigen</span>
            
            <span class="description">Er wordt een email gestuurd met een link naar de pagina om je wachtwoord te wijzigen.</span>

            <div class="input email-input">
                <label for="email-input"><b>Email</b></label>
                <input id="email-input" type="text" placeholder="Email" name="email" required>
                <div id="code-error" class="cat-error">
                    <span></span>
                </div>
            </div>

            <button type="submit">
                <i style="display: none;" class="fa fa-circle-o-notch fa-spin"></i> Verstuur email
            </button>
        </form>
    </div>
</body>
</html>

<script src="/js/main.js"></script>
<script src="/js/request_password_change.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', checkFlashMessages({{ get_flashed_messages(with_categories=True) | tojson }}));
</script>