<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="lars, Lars V, Lars Vl, Lars Vla, Lars, Vlaa, Lars vlaar, Vlaar, Lars, vlaar lars, lars vlaar, Lars Vlaar, larsvlaar, dik, obesitas, morbide obees, 130kg, zwaar, Cor, cor, Cor Vermin, corvermin, daddy lars, papa vlaar, daddy Lars Vlaar, papa lars vlaar, daddy, pappa, papa, lekker, gay, homo, zitzak, overgewicht, onlyfans">
    <meta name="description" content="De enige website waar je Lars Vlaar kan bewonderen.">
    <meta name="author" content="Wax Flame🔥">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Dutch">
    <meta name="web_author" content="Wax Flame🔥">
    <meta name="theme-color" content="#000000">
    
    <meta http-equiv="refresh" content="30">

    <title>larsvlaar.nl</title>
    
    <link rel="stylesheet" href="/styles">
</head>

<body id="home">
    <h1><a href="/flappy">Speel nu flappy bird!</a></h1>
    <h1><a href="/snake">Speel nu met Lars' slang(preview)!</a></h1>
</body>

</html>