<div id='floating_page_background' onclick='closeInventory()'></div>
<div class='page' id='inventory_page'>
    <h1>Inventory</h1>
    <div class="nav">
        <h1>
            <p><a class="navlink" onclick="inventoryOpenBackgrounds()">Backgrounds</a
                ><a class="navlink" onclick="inventoryOpenSkins()">Skins</a
                ><a class="navlink" onclick="inventoryOpenPipeskins()">Pipeskins</a>
            </p>
        </h1>
    </div>

    <button id="refund" onclick="refund()">Refund all</button>
    <button id="togglePipeskinMode" onclick="togglePipeskinMode()">Toggle Pipe Skin Mode: cover</button>


    <br>

    <div class="backgrounds">
        <br>
        <br>
        <br>
        <div class="inventory"></div> 
    </div>

    <div class=skins>
        <br>
        <br>
        <br>
        <div class="inventory"></div> 
    </div>

    <div class=pipeskins>
        <br>
        <br>
        <br>
        <div class="inventory"></div> 
    </div>
</div>