<input type="hidden" id="unlockedItems" value="{{ unlockedItems }}">
<div id='floating_page_background' onclick='closeShop()'></div>
<div class='page' id='shop_page'>
    <h1>Shop</h1>
    <div class="nav">
        <h1>
            <p><a class="navlink" onclick="shopOpenBackgrounds()">Backgrounds</a
                ><a class="navlink" onclick="shopOpenSkins()">Skins</a
                ><a class="navlink" onclick="shopOpenPipeskins()">Pipeskins</a
                ><a class="navlink" onclick="shopOpenLootBoxes()">Loot boxes</a>
            </p>
        </h1>
    </div>
    <br>

    <div class="backgrounds">
        <br>
        <br>
        <br>
        <div class="items"></div>
    </div>


    <div class="skins">
        <br>
        <br>
        <br>
        <div class="items"></div>
    </div>

    <div class="pipeskins">
        <br>
        <br>
        <br>
        <div class="items"></div>
    </div>

    <div class="lootboxes">
        <br>
        <br>
        <br>
        <div class="items"></div>
    </div>
</div>